button{
    background-color: darksalmon;
}

body{
    background-color: #1e1e1e;
}

h1{
    font-size: xxx-large;
    font-stretch: inherit;
    color: yellow;
    text-shadow: black;
}

h4{
    color: black;
}

h6{
    color: black;
}

